{% extends "auctions/layout.html" %}

{% block body %}
    <h2 style="padding-left: 10px">Listing: {{ listing.item_name }}</h2>

    <div class="listing">
        <div class="img_div sid">
            {% if listing.image %}
                <img src="{{ listing.image.url }}" alt="{{ listing.item_name }}" class="listing_image sim">
            {% endif %}
        </div>
        <div class="listing_info">
            <div style="height: 130px;"><h5 style="font-weight: normal;">Description: {{ listing.description }}</h5></div>
            <h5 style="font-weight: normal;">Category: {{ listing.get_category_display }}</h5>
            <h5 style="font-weight: normal;">Condition: {{ listing.get_condition_display }}</h5>
            <div style="height: 50px;"><h5 style="font-weight: normal;">Listed by: {{ listing.seller }}</h5></div>
            {% if request.user.is_authenticated and request.user != listing.seller %}
                <form action="{% url 'add_watchlist' listing.id %}" class="watchlist_btn" method="post">
                    {% csrf_token %}
                    {% if watchlist %}
                        <input type="submit" class="btn btn-secondary btn-sm" value="Remove from Watchlist">
                    {% else %}
                        <input type="submit" class="btn btn-primary btn-sm" value="Add to Watchlist">
                    {% endif %}
                </form>
            {% endif %}
        </div>
    </div>

    <div class="bid-div">
        {% if listing.bid_exist and request.user == highest_bidder %}
            <h3>My Bid: $ {{ price }}</h3>
        {% elif listing.bid_exist %}
            <h3>Current Bid: $ {{ price }}</h3>
        {% else %}
            <h3>Starting Bid: $ {{ price }}</h3>
        {% endif %}
        {% if request.user.is_authenticated %}
            {% if request.user != listing.seller %}
                {% if listing.bid_allowed %}
                    <form action="{% url 'placebid' listing.id %}" class="bid" method="post">
                        {% csrf_token %}
                        <input type="text" placeholder="Bid Amount" class="text form-control" name="bid_amount">
                        <input type="submit" value="Place Bid" class="btn btn-primary sub-btn">
                    </form>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger message" role="alert">{{ message }}</div> 
                        {% endfor %}
                    {% endif %}
                {% elif not listing.bid_allowed and request.user == highest_bidder %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success message">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% elif not listing.bid_allowed and request.user != highest_bidder %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-error message">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% else %}
                {% if listing.bid_allowed %}
                    <form action="{% url 'closebid' listing.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Close Auction" class="btn btn-primary">
                    </form>
                {% else %}
                    <h5 style="font-weight: normal;">You have closed the auction on this item.</h5>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
    
    <hr>
    
    <div class="comment-post">
        {% if request.user.is_authenticated %}
            <form action="{% url 'postcomment' listing.id %}" method="post" class="form-group comment-form">
                {% csrf_token %}
                <textarea type="text" placeholder="Type a Comment" class="text comment-text form-control" name="comment"></textarea>
                <input type="submit" value="Post" class="btn btn-primary sub-btn">
            </form>
            <hr>
        {% endif %}
    </div>
    <div class="allcomments">
        {% for commenter, comment in comments_info %}
            <strong>{{ commenter }}</strong><br>
            <p style="margin-left: 7px;">{{ comment }}</p>
            <hr>
        {% endfor %}
    </div>

{% endblock %}